@charset "UTF-8";

$clr-grey-0: #242424;
$clr-grey-1: #ccc;
$clr-blue-0: #344fb6;
$clr-blue-1: #1dbbf4;

@keyframes rotating {
	from {transform: none;}
	to {transform: rotate(360deg);}
}

@keyframes loading {
	from {stroke-dasharray: 5, 100;}
	to {stroke-dasharray: 100, 100;}
}

@keyframes unload {
	from {stroke-dasharray: 100, 100;}
	to {stroke-dasharray: 5, 100;}
}

* {
	padding: 0;
	margin: 0;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

a {
	display: inline-block;
	color: inherit;

	&:hover{
		text-decoration: none;
	}
}

button {
	border: none;
	background-color: transparent;
}

a::-moz-focus-inner, button::-moz-focus-inner {
	outline: none;
	border: none;
}

img {
	width: 100%;
	height: auto;
}

html {
	font-size: 10px;
	font-family: sans-serif;
	font-style: normal;
	color: $clr-grey-0;
	quotes: "\00ab" "\00bb";
	line-height: 1;
}

.wrapper {
	width: 90%;
	max-width: 138rem;
	padding: 0rem 1rem;
	margin: auto;
}

#header {
	position: relative;
	display: flex;
	padding-top: 9rem;
	padding-bottom: 4.6rem;

	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;

	#logo {
		display: block;
		flex-shrink: 1;
		flex-grow: 0;
		flex-basis: 25.5rem;
		width: 25.5rem;
		height: 5rem;
		background-image: url('../img/logo.png');
	}

	.menu--toggle {
		align-self: flex-start;
		display: none;
		width: 5rem;
		height: 5rem;
		margin-left: 2rem;
		background-image: url('../img/menu.png');
	}

	.menu {
		flex-basis: 50%;
		flex-grow: 1;
		display: flex;

		flex-direction: row;
		justify-content: flex-end;

		.menu__item {
			margin: 0rem 2.8rem;
			border-bottom: .2rem solid transparent;
			padding-bottom: 1.5rem;
			font-size: 2.4rem;
			text-transform: uppercase;

			&:last-child {
				margin-right: 0rem;
			}

			&:hover {
				border-bottom-color: $clr-blue-0;
			}
		}
	}
}

.main_slider {
	height: 107rem;
	background-size: auto 100%;
	background-image: url('../img/stars.png');

	.wrapper {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.clock {
			position: relative;
			display: block;
			max-width: 80rem;
			width: 100%;
			border-radius: 50%;
			background-color: #fff;
			box-shadow: 0 0 4rem 2rem rgba(0, 0, 0, 0.2);

			&:before {
				content: '';
				display: block;
				padding-top: 100%;
			}

			.projects {
				position: absolute;
				z-index: 2;
				bottom: 7%;
				right: 7%;
				width: 12%;
				height: 12%;
				border-radius: 50%;
				font-size: 1em;

				&.projects--bg0 {
					background: linear-gradient(#8a44e3, #31adf5);
				}

				&.projects--bg1 {
					background: linear-gradient(#4355d5, #63dda4);
				}

				&.projects--bg2 {
					background: linear-gradient(#7c57cb, #e67fb4);
				}

				&:before {
					content: '';
					position: absolute;
					left: 35%;
					top: 30%;
					width: 40%;
					height: 40%;
					background-image: url(../img/triangle.png);
					background-size: 100%;
				}

				&:after {
					content: 'Проекты';
					position: absolute;
					bottom: -1.8em;
					left: -1em;
					width: 6em;
					text-transform: uppercase;
					font-size: 2.5em;
				}
			}

			.clock__slider {
				position: absolute;
				z-index: 1;
				top: 14%;
				left: 14%;
				width: 72%;
				height: 72%;

				.slider__slides_wrapper {
					width: 100%;
					height: 100%;

					.slider__slide {
						display: none;
						width: 100%;
						height: 100%;
						border-radius: 50%;
						text-align: center;

						&.slider__slide--active {
							display: block;
						}

						h3 {
							box-sizing: content-box;
							width: 100%;
							height: 1.1em;
							padding-top: 5.6em;
							font-size: 2em;
							font-weight: 300;
						}

						h1 {
							display: block;
							width: 100%;
							height: 1.1em;
							margin-top: 0.85em;
							font-size: 5.2em;
							text-transform: uppercase;
						}

						h2 {
							display: block;
							width: 100%;
							margin-top: 1.5em;
							line-height: 1.3;
							font-size: 2em;
							text-transform: uppercase;

							&:first-line {
								font-size: 1.5em;
							}
						}

						&[data-slide-id="1"] h2 {
							font-size: 1.8em;
						}

						&[data-slide-id="2"] h2:first-line {
							font-size: 1em;
						}
					}
				}

				.slider__arrow {
					position: absolute;
					top: 50%;
					width: 2rem;
					height: 2rem;
					background-color: pink;
					margin-top: -1rem;

					&.slider__arrow--prev {
						left: 1rem;
					}

					&.slider__arrow--next {
						right: 1rem;
					}
				}
			}

			#circle__wrapper--main {
				position: absolute;
				top: 13%;
				left: 13%;
				display: block;
				height: 74%;
				width: 74%;
				overflow: hidden;

				#layer1 {
					transform-origin: center;
					animation: rotating 3s linear infinite forwards;
				}

				#circle--main {
					animation: unload .5s linear 1 forwards,
					           loading 5s linear .5s 1 forwards;
				}
			}

			#circle__wrapper--outside {
				position: absolute;
				left: 4%;
				top: 4%;
				width: 92%;
				height: 92%;

				#circle--outside1 {
					transform-origin: center;
					animation: rotating 4s cubic-bezier(1, 0.6, 1, 1) 1 forwards,
					rotating .5s linear 4s infinite forwards;
				}

				#circle--outside2 {
					transform-origin: center;
					animation: rotating 4.2s cubic-bezier(1, 0.6, 1, 1) 1 forwards,
					rotating .5s linear 4.2s infinite forwards;
				}
			}

			.clock__face {
				position: absolute;
				top: 15%;
				left: 15%;
				display: block;
				height: 70%;
				width: 70%;
				border-radius: 50%;
				background-color: #fff;
				box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.2);

				.clock__segments {
					position: absolute;
					top: 0rem;
					left: 0rem;
					width: 100%;
					height: 100%;
					// scrollbar BUG
					overflow: hidden;

					.clock__minute {
						position: absolute;
						top: 0rem;
						left: 0rem;
						display: block;
						height: 100%;
						width: 100%;
						transform-origin: top;
						transform: rotate(6deg);

						&.clock__minute--30 {
							position: absolute;
							top: 50%;
							left: 50%;
							display: block;
							height: 42%;
							width: .2rem;
							margin-left: -.1rem;
							transform: none;
						}

						&:after {
							content: '';
							position: absolute;
							bottom: 0rem;
							left: 0rem;
							display: block;
							width: .2rem;
							height: 1rem;
							background-color: $clr-blue-1;
						}

						&.clock__hour {
							&:after {
								height: 2rem;
							}
						}
					}
				}
			}
		}
	}
}

section {

	header {
		padding: 6rem 0rem;

		.header__num {
			line-height: 5rem;
			overflow-y: hidden;
			font-size: 6.4rem;
			font-weight: 600;
			color: $clr-blue-1;
		}

		.header__title {
			display: inline-block;
			padding: 2.5rem 3rem;
			font-size: 3.2rem;
			background-color: $clr-blue-0;
			color: #fff;
			text-transform: uppercase;
		}
	}

	.flex {
		display: flex;

		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;

		> * {
			flex-basis: 22%;
			flex-grow: 1;
			flex-shrink: 0;
		}
	}

	.services {
		padding: 0rem;

		.service {
			min-width: 29rem;
			max-width: 33rem;
			margin: 0rem 1rem 5rem;

			.service__icon {
				display: block;
				height: 4.8rem;
				width: 4.8rem;
				background-position: 0px 0px;
			}

			.service__title {
				height: 7rem;
				border-bottom: 0.3rem solid $clr-blue-0;
				font-size: 2.6rem;
				text-transform: uppercase;

				&:before {
					content: '';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}

				span {
					display: inline-block;
					vertical-align: middle;

					&:after, .arrow {
						// content: '';
						display: inline-block;
						vertical-align: baseline;
						width: 6rem;
						height: 1.5rem;
						margin-left: 1rem;
						background-image: url('../img/arrow.png');
					}
				}
			}

			&:hover {

				.service__icon {
					background-position-y: -48px;
				}

				.service__title {
					border-bottom-color: $clr-blue-1;
				}
			}

			.service__actions {
				margin-top: 1.5rem;
				list-style: none;

				.service__action {
					display: block;
					position: relative;
					padding: 1rem 0rem;
					padding-left: 3rem;
					font-size: 2rem;

					&:before {
						content: '';
						position: absolute;
						top: 1.8rem;
						left: 0rem;
						display: block;
						width: 1.2rem;
						height: 1.2rem;
						background-repeat: no-repeat;
						background-image: url('../img/shape.png');
					}

					&:hover {
						font-weight: 600;
						text-decoration: underline;

						&:before {
							top: 1.4rem;
							background-image: url('../img/shape-active.png');
						}
					}
				}
			}
		}

		.promo {
			position: relative;
			min-height: 40rem;

			.promo__wrapper {
				display: flex;
				height: 100%;
				margin-left: 4.6rem;
				border: 1.6rem solid $clr-blue-0;
				padding: 2rem;

				flex-direction: column;
				justify-content: flex-end;
				text-align: right;

				.promo__text {
					position: absolute;
					left: 0;
					top: 8rem;
					height: 18rem;
					margin-right: 2.4rem;
					background-color: #fff;
					text-align: left;
					font-size: 3rem;
					font-weight: 200;

					&:before {
						content: '';
						display: inline-block;
						height: 100%;
						vertical-align: middle;
					}

					span {
						display: inline-block;
						vertical-align: middle;

						b {
							font-weight: 400;
						}
					}
				}

				.promo__action {
					font-size: 1.8rem;
					text-transform: uppercase;
					font-weight: 400;
				}

				.promo__phone {
					margin-top: 1.5rem;
					white-space: nowrap;
					font-size: 2.6rem;
					font-weight: 200;
				}
			}
		}
	}

	.services--individual {
		position: relative;
		margin-bottom: 16rem;
		outline: 0.1rem solid #ccc;
		outline-offset: -1rem;
		// border: .1rem solid $clr-grey-1;
		padding: 4rem 0rem;

		justify-content: flex-start;
		align-items: stretch;

		.col {
			display: flex;
			margin: 1rem 1rem;

			flex-direction: column;
			justify-content: flex-start;

			&.header {
				justify-content: center;
				align-items: center;

				h1 {
					display: inline-block;
					width: 20rem;
					font-size: 3rem;
					font-weight: 600;
					text-transform: uppercase;
				}
			}

			.service {
				flex-basis: 20%;
				flex-shrink: 0;
				flex-grow: 1;
				display: flex;
				border-left: .2rem solid $clr-grey-1;
				margin-bottom: 3rem;
				white-space: nowrap;

				flex-direction: row;
				justify-content: flex-start;
				align-items: center;

				flex-wrap: wrap;

				&:last-child {
					margin-bottom: 0rem;
				}

				&:after {
					content: attr(data-anti-bold-shift);
					padding: 0 2rem;
					visibility: hidden;
					height: 0px;
					line-height: 0;
					white-space: normal;
					font-size: 2.6rem;
					font-weight: 600;
				}

				.service__action {
					flex-basis: 100%;
					display: inline-block;
					padding: 2rem;
					white-space: normal;
					font-size: 2.6rem;
					font-weight: 300;

					&:after {
						// content: '';
						display: inline-block;
						display: none;
						height: 1.5rem;
						width: 3rem;
						margin-left: 1rem;
						vertical-align: baseline;
						background-position: center right;
						background-size: 6rem 1.5rem;
						background-image: url('../img/arrow.png');
					}
				}

				&:hover {
					border-left-color: $clr-blue-0;

					.service__action {
						font-weight: 600;

						&:after {
							display: inline-block;
						}
					}
				}
			}
		}

		.services--individual__dots {
			position: absolute;
			top: 0rem;
			display: block;
			height: 100%;
			width: 0rem;

			&.services--individual__dots--before {
				left: 1rem;
			}

			&.services--individual__dots--after {
				right: 1rem;
			}

			&:before, &:after {
				content: '';
				position: absolute;
				left: 0rem;
				display: block;
				height: .6rem;
				width: .6rem;
				margin-left: -.3rem;
				border-radius: 50%;
				background-color: $clr-grey-1;
			}

			&:before {
				top: 1rem;
				margin-top: -.3rem;
			}

			&:after {
				bottom: 1rem;
				margin-bottom: -.3rem;
			}
		}
	}
}

@media (max-width: 1070px) {
	section {

		.services--individual {
			padding: 4rem;

			.col {
				flex-basis: 40%;
			}
		}
	}
}

@media (max-width: 970px) {
	#header {

		.menu {
			margin-top: 3rem;
			justify-content: space-between;
		}
	}
}

@media (max-width: 800px) {
	.main_slider .wrapper .clock .clock__slider
	  .slider__slides_wrapper .slider__slide {

		h2 {
			&:first-line {
				font-size: 1.3em;
			}
		}

		&[data-slide-id="1"] h2:first-line {
			// font-size: 1em;
			// font-size: 1.5em;
			// padding: 0 1em;
		}

		&[data-slide-id="2"] h2:first-line {
			font-size: 1.8em;
		}
	}
}

@media (max-width: 680px) {
	.main_slider {
		height: 80rem;
	}

	section {

		.services--individual {

			.col {
				flex-basis: 60%;
			}
		}
	}

}

@media (max-width: 660px) {
	#header {

		.menu--toggle {
			display: block;
		}

		.menu {
			position: absolute;
			z-index: 1;
			display: none;
			width: 100%;
			margin-top: 5rem;
			flex-direction: column;
			background-color: #fff;

			align-items: flex-start;

			.menu__item {
				margin-top: 3rem;

				&:last-child {
					margin-bottom: 3rem;
				}
			}
		}

		.menu--toggle:focus + .menu {
			display: flex;
		}
	}
}

@media (max-width: 480px) {
	#header {
		padding-top: 2rem;
		flex-wrap: nowrap;
	}

	.main_slider {
		height: 50rem;

		.wrapper {

			.clock {
				font-size: 3.7px;

				.projects {
					bottom: 0;
					right: 0;

					&:after {
						left: -1.3em;
						font-size: 3em;
					}
				}

				.clock__slider {

					.slider__slides_wrapper {

						.slider__slide {

							h3 {
								font-size: 3em;
							}

							h1 {
								font-size: 7em;
							}

							h2 {
								font-size: 3.5em;

								&:first-line {
								}
							}

							&[data-slide-id="1"] h2 {
								font-size: 3.5em;
							}

							&[data-slide-id="2"] h2:first-line {
								font-size: 1em;
							}
						}
					}
				}

				#circle__wrapper--main {
					left: -3%;
					top: -3%;
					height: 106%;
					width: 106%;
				}

				#circle__wrapper--outside {
					display: none;
				}

				.clock__face {
					left: 0;
					top: 0;
					height: 100%;
					width: 100%;
				}
			}
		}
	}

}
