@charset "UTF-8";
@keyframes rotating {
  from {
    transform: none; }
  to {
    transform: rotate(360deg); } }
@keyframes loading {
  from {
    stroke-dasharray: 5, 100; }
  to {
    stroke-dasharray: 100, 100; } }
@keyframes unload {
  from {
    stroke-dasharray: 100, 100; }
  to {
    stroke-dasharray: 5, 100; } }
* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto; }

a {
  display: inline-block;
  color: inherit; }
  a:hover {
    text-decoration: none; }

button {
  border: none;
  background-color: transparent; }

a::-moz-focus-inner, button::-moz-focus-inner {
  outline: none;
  border: none; }

img {
  width: 100%;
  height: auto; }

html {
  font-size: 10px;
  font-family: sans-serif;
  font-style: normal;
  color: #242424;
  quotes: "\00ab" "\00bb";
  line-height: 1; }

.wrapper {
  width: 90%;
  max-width: 138rem;
  padding: 0rem 1rem;
  margin: auto; }

#header {
  position: relative;
  display: flex;
  padding-top: 9rem;
  padding-bottom: 4.6rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline; }
  #header #logo {
    display: block;
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 25.5rem;
    width: 25.5rem;
    height: 5rem;
    background-image: url("../img/logo.png"); }
  #header .menu--toggle {
    align-self: flex-start;
    display: none;
    width: 5rem;
    height: 5rem;
    margin-left: 2rem;
    background-image: url("../img/menu.png"); }
  #header .menu {
    flex-basis: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    #header .menu .menu__item {
      margin: 0rem 2.8rem;
      border-bottom: .2rem solid transparent;
      padding-bottom: 1.5rem;
      font-size: 2.4rem;
      text-transform: uppercase; }
      #header .menu .menu__item:last-child {
        margin-right: 0rem; }
      #header .menu .menu__item:hover {
        border-bottom-color: #344fb6; }

.main_slider {
  height: 107rem;
  background-size: auto 100%;
  background-image: url("../img/stars.png"); }
  .main_slider .wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main_slider .wrapper .clock {
      position: relative;
      display: block;
      max-width: 80rem;
      width: 100%;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 4rem 2rem rgba(0, 0, 0, 0.2); }
      .main_slider .wrapper .clock:before {
        content: '';
        display: block;
        padding-top: 100%; }
      .main_slider .wrapper .clock .projects {
        position: absolute;
        z-index: 2;
        bottom: 7%;
        right: 7%;
        width: 12%;
        height: 12%;
        border-radius: 50%;
        font-size: 1em; }
        .main_slider .wrapper .clock .projects.projects--bg0 {
          background: linear-gradient(#8a44e3, #31adf5); }
        .main_slider .wrapper .clock .projects.projects--bg1 {
          background: linear-gradient(#4355d5, #63dda4); }
        .main_slider .wrapper .clock .projects.projects--bg2 {
          background: linear-gradient(#7c57cb, #e67fb4); }
        .main_slider .wrapper .clock .projects:before {
          content: '';
          position: absolute;
          left: 35%;
          top: 30%;
          width: 40%;
          height: 40%;
          background-image: url(../img/triangle.png);
          background-size: 100%; }
        .main_slider .wrapper .clock .projects:after {
          content: 'Проекты';
          position: absolute;
          bottom: -1.8em;
          left: -1em;
          width: 6em;
          text-transform: uppercase;
          font-size: 2.5em; }
      .main_slider .wrapper .clock .clock__slider {
        position: absolute;
        z-index: 1;
        top: 14%;
        left: 14%;
        width: 72%;
        height: 72%; }
        .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper {
          width: 100%;
          height: 100%; }
          .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide {
            display: none;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            text-align: center; }
            .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide.slider__slide--active {
              display: block; }
            .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide h3 {
              box-sizing: content-box;
              width: 100%;
              height: 1.1em;
              padding-top: 5.6em;
              font-size: 2em;
              font-weight: 300; }
            .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide h1 {
              display: block;
              width: 100%;
              height: 1.1em;
              margin-top: 0.85em;
              font-size: 5.2em;
              text-transform: uppercase; }
            .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide h2 {
              display: block;
              width: 100%;
              margin-top: 1.5em;
              line-height: 1.3;
              font-size: 2em;
              text-transform: uppercase; }
              .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide h2:first-line {
                font-size: 1.5em; }
            .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide[data-slide-id="1"] h2 {
              font-size: 1.8em; }
            .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide[data-slide-id="2"] h2:first-line {
              font-size: 1em; }
        .main_slider .wrapper .clock .clock__slider .slider__arrow {
          position: absolute;
          top: 50%;
          width: 2rem;
          height: 2rem;
          background-color: pink;
          margin-top: -1rem; }
          .main_slider .wrapper .clock .clock__slider .slider__arrow.slider__arrow--prev {
            left: 1rem; }
          .main_slider .wrapper .clock .clock__slider .slider__arrow.slider__arrow--next {
            right: 1rem; }
      .main_slider .wrapper .clock #circle__wrapper--main {
        position: absolute;
        top: 13%;
        left: 13%;
        display: block;
        height: 74%;
        width: 74%;
        overflow: hidden; }
        .main_slider .wrapper .clock #circle__wrapper--main #layer1 {
          transform-origin: center;
          animation: rotating 3s linear infinite forwards; }
        .main_slider .wrapper .clock #circle__wrapper--main #circle--main {
          animation: unload .5s linear 1 forwards, loading 5s linear .5s 1 forwards; }
      .main_slider .wrapper .clock #circle__wrapper--outside {
        position: absolute;
        left: 4%;
        top: 4%;
        width: 92%;
        height: 92%; }
        .main_slider .wrapper .clock #circle__wrapper--outside #circle--outside1 {
          transform-origin: center;
          animation: rotating 4s cubic-bezier(1, 0.6, 1, 1) 1 forwards, rotating 0.5s linear 4s infinite forwards; }
        .main_slider .wrapper .clock #circle__wrapper--outside #circle--outside2 {
          transform-origin: center;
          animation: rotating 4.2s cubic-bezier(1, 0.6, 1, 1) 1 forwards, rotating 0.5s linear 4.2s infinite forwards; }
      .main_slider .wrapper .clock .clock__face {
        position: absolute;
        top: 15%;
        left: 15%;
        display: block;
        height: 70%;
        width: 70%;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 0 2rem 1rem rgba(0, 0, 0, 0.2); }
        .main_slider .wrapper .clock .clock__face .clock__segments {
          position: absolute;
          top: 0rem;
          left: 0rem;
          width: 100%;
          height: 100%;
          overflow: hidden; }
          .main_slider .wrapper .clock .clock__face .clock__segments .clock__minute {
            position: absolute;
            top: 0rem;
            left: 0rem;
            display: block;
            height: 100%;
            width: 100%;
            transform-origin: top;
            transform: rotate(6deg); }
            .main_slider .wrapper .clock .clock__face .clock__segments .clock__minute.clock__minute--30 {
              position: absolute;
              top: 50%;
              left: 50%;
              display: block;
              height: 42%;
              width: .2rem;
              margin-left: -.1rem;
              transform: none; }
            .main_slider .wrapper .clock .clock__face .clock__segments .clock__minute:after {
              content: '';
              position: absolute;
              bottom: 0rem;
              left: 0rem;
              display: block;
              width: .2rem;
              height: 1rem;
              background-color: #1dbbf4; }
            .main_slider .wrapper .clock .clock__face .clock__segments .clock__minute.clock__hour:after {
              height: 2rem; }

section header {
  padding: 6rem 0rem; }
  section header .header__num {
    line-height: 5rem;
    overflow-y: hidden;
    font-size: 6.4rem;
    font-weight: 600;
    color: #1dbbf4; }
  section header .header__title {
    display: inline-block;
    padding: 2.5rem 3rem;
    font-size: 3.2rem;
    background-color: #344fb6;
    color: #fff;
    text-transform: uppercase; }
section .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; }
  section .flex > * {
    flex-basis: 22%;
    flex-grow: 1;
    flex-shrink: 0; }
section .services {
  padding: 0rem; }
  section .services .service {
    min-width: 29rem;
    max-width: 33rem;
    margin: 0rem 1rem 5rem; }
    section .services .service .service__icon {
      display: block;
      height: 4.8rem;
      width: 4.8rem;
      background-position: 0px 0px; }
    section .services .service .service__title {
      height: 7rem;
      border-bottom: 0.3rem solid #344fb6;
      font-size: 2.6rem;
      text-transform: uppercase; }
      section .services .service .service__title:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      section .services .service .service__title span {
        display: inline-block;
        vertical-align: middle; }
        section .services .service .service__title span:after, section .services .service .service__title span .arrow {
          display: inline-block;
          vertical-align: baseline;
          width: 6rem;
          height: 1.5rem;
          margin-left: 1rem;
          background-image: url("../img/arrow.png"); }
    section .services .service:hover .service__icon {
      background-position-y: -48px; }
    section .services .service:hover .service__title {
      border-bottom-color: #1dbbf4; }
    section .services .service .service__actions {
      margin-top: 1.5rem;
      list-style: none; }
      section .services .service .service__actions .service__action {
        display: block;
        position: relative;
        padding: 1rem 0rem;
        padding-left: 3rem;
        font-size: 2rem; }
        section .services .service .service__actions .service__action:before {
          content: '';
          position: absolute;
          top: 1.8rem;
          left: 0rem;
          display: block;
          width: 1.2rem;
          height: 1.2rem;
          background-repeat: no-repeat;
          background-image: url("../img/shape.png"); }
        section .services .service .service__actions .service__action:hover {
          font-weight: 600;
          text-decoration: underline; }
          section .services .service .service__actions .service__action:hover:before {
            top: 1.4rem;
            background-image: url("../img/shape-active.png"); }
  section .services .promo {
    position: relative;
    min-height: 40rem; }
    section .services .promo .promo__wrapper {
      display: flex;
      height: 100%;
      margin-left: 4.6rem;
      border: 1.6rem solid #344fb6;
      padding: 2rem;
      flex-direction: column;
      justify-content: flex-end;
      text-align: right; }
      section .services .promo .promo__wrapper .promo__text {
        position: absolute;
        left: 0;
        top: 8rem;
        height: 18rem;
        margin-right: 2.4rem;
        background-color: #fff;
        text-align: left;
        font-size: 3rem;
        font-weight: 200; }
        section .services .promo .promo__wrapper .promo__text:before {
          content: '';
          display: inline-block;
          height: 100%;
          vertical-align: middle; }
        section .services .promo .promo__wrapper .promo__text span {
          display: inline-block;
          vertical-align: middle; }
          section .services .promo .promo__wrapper .promo__text span b {
            font-weight: 400; }
      section .services .promo .promo__wrapper .promo__action {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 400; }
      section .services .promo .promo__wrapper .promo__phone {
        margin-top: 1.5rem;
        white-space: nowrap;
        font-size: 2.6rem;
        font-weight: 200; }
section .services--individual {
  position: relative;
  margin-bottom: 16rem;
  outline: 0.1rem solid #ccc;
  outline-offset: -1rem;
  padding: 4rem 0rem;
  justify-content: flex-start;
  align-items: stretch; }
  section .services--individual .col {
    display: flex;
    margin: 1rem 1rem;
    flex-direction: column;
    justify-content: flex-start; }
    section .services--individual .col.header {
      justify-content: center;
      align-items: center; }
      section .services--individual .col.header h1 {
        display: inline-block;
        width: 20rem;
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase; }
    section .services--individual .col .service {
      flex-basis: 20%;
      flex-shrink: 0;
      flex-grow: 1;
      display: flex;
      border-left: 0.2rem solid #ccc;
      margin-bottom: 3rem;
      white-space: nowrap;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap; }
      section .services--individual .col .service:last-child {
        margin-bottom: 0rem; }
      section .services--individual .col .service:after {
        content: attr(data-anti-bold-shift);
        padding: 0 2rem;
        visibility: hidden;
        height: 0px;
        line-height: 0;
        white-space: normal;
        font-size: 2.6rem;
        font-weight: 600; }
      section .services--individual .col .service .service__action {
        flex-basis: 100%;
        display: inline-block;
        padding: 2rem;
        white-space: normal;
        font-size: 2.6rem;
        font-weight: 300; }
        section .services--individual .col .service .service__action:after {
          display: inline-block;
          display: none;
          height: 1.5rem;
          width: 3rem;
          margin-left: 1rem;
          vertical-align: baseline;
          background-position: center right;
          background-size: 6rem 1.5rem;
          background-image: url("../img/arrow.png"); }
      section .services--individual .col .service:hover {
        border-left-color: #344fb6; }
        section .services--individual .col .service:hover .service__action {
          font-weight: 600; }
          section .services--individual .col .service:hover .service__action:after {
            display: inline-block; }
  section .services--individual .services--individual__dots {
    position: absolute;
    top: 0rem;
    display: block;
    height: 100%;
    width: 0rem; }
    section .services--individual .services--individual__dots.services--individual__dots--before {
      left: 1rem; }
    section .services--individual .services--individual__dots.services--individual__dots--after {
      right: 1rem; }
    section .services--individual .services--individual__dots:before, section .services--individual .services--individual__dots:after {
      content: '';
      position: absolute;
      left: 0rem;
      display: block;
      height: .6rem;
      width: .6rem;
      margin-left: -.3rem;
      border-radius: 50%;
      background-color: #ccc; }
    section .services--individual .services--individual__dots:before {
      top: 1rem;
      margin-top: -.3rem; }
    section .services--individual .services--individual__dots:after {
      bottom: 1rem;
      margin-bottom: -.3rem; }

@media (max-width: 1070px) {
  section .services--individual {
    padding: 4rem; }
    section .services--individual .col {
      flex-basis: 40%; } }
@media (max-width: 970px) {
  #header .menu {
    margin-top: 3rem;
    justify-content: space-between; } }
@media (max-width: 800px) {
  .main_slider .wrapper .clock .clock__slider
  .slider__slides_wrapper .slider__slide h2:first-line {
    font-size: 1.3em; }
  .main_slider .wrapper .clock .clock__slider
  .slider__slides_wrapper .slider__slide[data-slide-id="2"] h2:first-line {
    font-size: 1.8em; } }
@media (max-width: 680px) {
  .main_slider {
    height: 80rem; }

  section .services--individual .col {
    flex-basis: 60%; } }
@media (max-width: 660px) {
  #header .menu--toggle {
    display: block; }
  #header .menu {
    position: absolute;
    z-index: 1;
    display: none;
    width: 100%;
    margin-top: 5rem;
    flex-direction: column;
    background-color: #fff;
    align-items: flex-start; }
    #header .menu .menu__item {
      margin-top: 3rem; }
      #header .menu .menu__item:last-child {
        margin-bottom: 3rem; }
  #header .menu--toggle:focus + .menu {
    display: flex; } }
@media (max-width: 480px) {
  #header {
    padding-top: 2rem;
    flex-wrap: nowrap; }

  .main_slider {
    height: 50rem; }
    .main_slider .wrapper .clock {
      font-size: 3.7px; }
      .main_slider .wrapper .clock .projects {
        bottom: 0;
        right: 0; }
        .main_slider .wrapper .clock .projects:after {
          left: -1.3em;
          font-size: 3em; }
      .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide h3 {
        font-size: 3em; }
      .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide h1 {
        font-size: 7em; }
      .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide h2 {
        font-size: 3.5em; }
      .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide[data-slide-id="1"] h2 {
        font-size: 3.5em; }
      .main_slider .wrapper .clock .clock__slider .slider__slides_wrapper .slider__slide[data-slide-id="2"] h2:first-line {
        font-size: 1em; }
      .main_slider .wrapper .clock #circle__wrapper--main {
        left: -3%;
        top: -3%;
        height: 106%;
        width: 106%; }
      .main_slider .wrapper .clock #circle__wrapper--outside {
        display: none; }
      .main_slider .wrapper .clock .clock__face {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%; } }

/*# sourceMappingURL=styles.css.map */
